/* basic page structure: total page width 900px,
  left/right padding 10px each, so 880px for 100% width,
  full-width (i.e. 880) header and footer,
  navigation menu
  2/3 left panel (600=579+1border+20margin/pad),
  1/3 right panel, (300=280+20margins)
  sans-serif font (Helvetica(Neue)/Arial),
  font sizes: (font-size 75% is typically 12px assuming 16px base)
        main text: 1em (=12px)
        small text: 0.8em (=10px)
        heading / h3: 1.17em (=14px)
        sub-heading / h4: 1em (=12px)
  colors: white bg, text 444, 
     headings/bars 002147 (Oxford blue)
  10px padding/margins, 1px borders
*/

html,body,div,span,h2,h3,p,a,img,ol,ul,li,table,tr,td
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit; 
}

html{ background-color: #444; }
div{ background-color: #fff; }
p,ul,ol { padding-bottom: 5px; }
li {padding-bottom: 3px; }

#container_all
{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 880px;
  background: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 75%;
  color: #444;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

a { text-decoration:none; } 
a:hover { text-decoration:underline; }
hr {color: #444; background-color: #999; border: 1px dotted #fff; border-style: none none dotted; }
h3,h4 {color: #002147; margin-top: 1em; margin-bottom: 0.5em; font-weight: bold;} 
h2 {color: #002147; margin-top: 1em; margin-bottom: 0em; font-weight: bold;}
h2,h3,h4 a{color: #002147;}

.smalltxt
{
  font-size: 0.8em;
  line-height: 1.5em;
}

#header
{
  height: 115px;
  width: 880px;
  background: #fff;
  padding: 0px;
  /*border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.menutxt
{
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
}

#navigation
{
  width: 880px;
  float: left;
  background: #002147; 
  border-bottom: 2px solid #fff;
}

#navigation ul
{
  width: 880px;
  margin: 0 auto;
  padding: 0;
  background: #002147;
}

#navigation ul li
{
  list-style-type: none;
  display: inline;
}

#navigation li a
{
  display: block;
  float: left;
  padding: 5px 18px;
  color: #fff; 
  text-decoration: none;
}

#navigation li a:hover
{ 
  text-decoration: underline;
}

body#home li#homepage a,
body#about li#aboutpage a,
body#people li#peoplepage a,
body#research li#researchpage a,
body#facilities li#facilitiespage a,
body#resources li#resourcepage a,
body#news li#newspage a
{
  text-decoration: underline;
} 

#mainbody
{
  clear: left;
  float: left;
  width: 880px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #002147;
  text-align: left;
  min-height: 500px;
  height: 100%;
  padding-bottom: 10px;
  letter-spacing: 0px;
  line-height: 1.5em;
}

#leftpanel
{
  clear: left;
  float: left;
  width: 579px;
  padding-right: 10px;
  margin-top: 10px;
  border-right: 1px solid #ccc;
  display: inline;
  background: #fff;
}

#leftimagepanel
{
  clear: left;
  float: left;
  width: 400px;
  padding-right: 10px;
  margin-top: 10px;
  display: inline;
  background: #fff;
}
#rightpanel 
{
  float: right;
  width: 280px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline;
  background: #fff;
}

#imagepanel
{
  float: right;
  width: 450px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline;
  background: #fff;
}



ul.researchlist 
{
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  font-size: 1em;
}

ul.research li
{
      padding-bottom: 5px;
}

ul.publicationlist 
{
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  font-size: 1em;
}

ul.publicationlist li
{
      padding-bottom: 5px;
}

#footer
{
  clear: both;
  text-align: center;
  padding: 10px;
  /*height: 1%;*/
  font-size: 0.8em;
}
