#microngroups 
{
  font-size: 1em;
  line-height: 1.5em;
}

#microngroups td
{
  width: 182px;
  vertical-align: top;
  border-width: 5px;
  border-color: white;
  border-style: solid;
}

#microngroupsdiv
{
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
}

#microngroupsdiv img
{
  float: left;
  padding-right: 5px; 
  padding-bottom: 5px;
}

#oxbioimagers 
{
  font-size: 1em;
  line-height: 1.5em;
}

#oxbioimagers td
{
  width: 182px;
  vertical-align: top;
  border-width: 5px;
  border-color: white;
  border-style: solid;
}

#oxbioimagersdiv img
{
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

#ext_collaborators img
{
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

#peoplegallery
{
  font-size: 1em;
  line-height: 1.5em;
}

#micronstaff td
{
  width: 275px;
  vertical-align: top;
}

#peoplediv img
{
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}

