#subnavigation
{
  width: 585px;
}


#leftpanel ol
{
  margin-left: 0;
  padding-left: 2em;
}

#leftpanel img
{
  padding-top: 5px;
  padding-bottom: 5px;
}

#leftpanel ul
{
  margin-left: 0;
  padding-left: 2em;
}

#research_aims
{
  padding-top: 5px;
}

