#subnavigation
{
  width: 492px;
}

#wikiheading
{
  display: inline;
}

#wikiinfo
{
       margin-top: 8px;
}

p.faq
{
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

p.answer
{
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1em;
}

#leftpanel ul
{
  margin-left: 0;
  margin-top: 5px;
  padding-left: 2em;
  text-indent: 0em;
}

#leftpanel li
{
  padding-top: 5px;
}

#rightpanel img
{
  padding-bottom: 5px;
}

#rightpanel ul
{
  list-style: none;
  margin-left: 0;
  margin-top: 5px;
  padding-left: 0em;
  text-indent: 0em;
  font-size: 10px;
}

.sublist
{
  text-indent: 1em;
  padding-bottom: 5px;
}

#slides
{padding: 20px;

}